*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Work sans;
}



/* SHARED STYLES */
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
.text-gray{
    /* dark 02 */
    color: #424242;
}
.text-light-gray{
    /* dark 03 */
    color: #727272;
}
.section-title{
    font-size: 3.25rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0px auto;
}
main > section{
    margin-top: 130px;
}



/* NAV BAR STYLES */
header{
    padding-top: 24px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navbar ul li{
    list-style: none;
    margin-right: 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}



/* BANNER STYLES */
.banner{
    margin-top: 36px;
}
.banner-description{
    margin-bottom: 24px;
}
.banner-content{
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 12px;
}
.banner img{
    width: 100%;
}



/* TEAMS STYLES */
.teams{
    align-items: center;
}
.team-image-container{
    display: grid;
    /* width: 708px; */
    grid-template-columns: repeat(2, 1fr);
    gap: 52px;
}
.our-features{
    max-width: 537px;
    margin-left: 130px;
}

.one{
    font-weight: 500;
}
.two{
    font-weight: bold;
    color: black;
}
.feature-description{
    margin-top: 0px;
    margin-bottom: 32px;
}



/* SOME FACTS STYLES */
.some-facts-section, .fact-paragraph{
    text-align: center;
}
.fact-paragraph{
    max-width: 600px;
    margin: 0px auto;
    margin-bottom: 50px;
    margin-top: 0px;
}
.facts-container{
    padding: 0px 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fact div{
    text-align: center;
}
.fact-number{
    font-size: 3.25rem;
    font-weight: 600;
    margin: 10px 5px;
}
.fact-name{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}




/* SPONSORS STYLES */
.sponsor-section{
    margin-bottom: 150px;
}
.sponsor-info{
    text-align: center;
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-brand{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-content: center;
}
.sponsor-brand img{
    filter: grayscale(100%);
}



/* FEATURES SECTION STYLES */
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-card{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.features{
    gap: 100px;
}

/* responsive styles */
@media screen and (max-width: 576px) {
    main{
        padding-left: 24px;
        padding-right: 24px;
    }
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .team-image-container,
    .facts-container,
    .sponsor-brand{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-brand{
        justify-items: center;
        gap: 52px;
    }
    .our-features{
        margin-top: 32px;
        margin-left: 0px;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px){
    .our-features{
        margin-top: 52px;

    }
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px;
    }

    .sponsor-brand,
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 52px;
        justify-items: center;
    }
}



